@import url('https://fonts.googleapis.com/css?familily=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/wilderness-typeface');

:root {
    --base: #15142A;
    --white: #fff;
    --green: #49b293;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section {padding: 100px;}

.bannerIdea {
    position: relative;
    min-height: 100vh;
    background: url(../img/ideaserv.jpeg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerIdea h2 {
    font-size: 6em;
    color: rgb(205, 191, 255);
    font-weight: 600;
    line-height: 1.5em;
}

.bannerIdea h2 span {
    font-size: 1.3em;
    font-weight: 700;
    color: #24da00;
}

.bannerIdea h3 {
    font-family: 'Wilderness Typeface', sans-serif;
    font-size: 4em;
    font-weight: 200;
    color: #f88436;
}

.btn {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background: #15142A;
}

header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
    position: absolute;
    color: #fff;
    font-size: 24px;
    text-transform: none;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
}

header.sticky .logo {color: var(--base);}
 
header .logo img {
    width: 20px;
    height: 20px;
}

header.sticky .logo img{
    width: 16px;
    height: 16px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin: 0 15px;
    color: #fff;
}

header.sticky ul li a {color: #111;}

.containerS {
    position: relative;
    overflow: hidden;
    top: 40px;
    width: 100%;
    height: 100vh;
}

.containerS .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    animation: animate 20s linear infinite;
}

.containerS .slider .slide {
    position: relative;
    width: 20%;
    height: 100%;
    float: left;
}

.containerS .slider .slide .caption {
    position: absolute;
    bottom: 60px;
    left: 60px;
    right: 60px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    transition: 0.5s;
}

.containerS .slider .slide .caption h2 {
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    font-size: 48px;
    transition: 0.5s;
}

.containerS .slider .slide .caption p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
}

/*aboutus*/
.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
}


.content {
    display: flex;
    justify-content: space-between;
}

.contentBx p{padding-right: 30px; margin-bottom: 10px;}
.contentBx h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.w50 {min-width: 50%;}

img {
    max-width: 100%;
    height: 50vh;
}

/*services*/
.services, 
.photo {
    width: 100%;
    background: var(--base);
}

.heading.white {color: #fff;}

.services .content2,
.photo .content3 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.services .content2 .box {
    position: relative;
    width: 220px;
    height: 220px;
    margin: 30px;
    background: var(--white);
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.services .content2 .box .imgBox,
.photo .content3 .boxP .imgBoxP  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;  
}
.services .content2 .box:hover .imgBox,
.photo .content3 .boxP:hover .imgBoxP {
    transform: scale(1) translateY(-100%);
}

.services .content2 .box .imgBox img {
    max-width: 150px;
    max-height: 120px;
}

.services .content2 .con,
.photo .content3 .conP  {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    background: #ff3579;
    transform: scale(1) translateY(calc(100% - 5px));
}

.services .box:hover .con,
.photo .boxP:hover .conP  {
    transform: scale(1);
}

.services .content2 .box:nth-child(2) .con {
    background: #2ba1ff;
}
.services .content2 .box:nth-child(3) .con {
    background: #c630e0;
}
.services .content2 .box:nth-child(4) .con {
    background: #ff3232;
}
.services .content2 .box:nth-child(5) .con {
    background: #15d636;
}
.services .content2 .box:nth-child(6) .con {
    background: #616161;
}
.services .content2 .box:nth-child(7) .con {
    background: #835d2c;
}
.services .content2 .box:nth-child(8) .con {
    background: #f57e7e;
}

.services .content2 .con .icon img {
    max-width: 80px;
    max-height: 80px;
}

.services .content2 .con h3,
.photo .content3 .conP h3  {
    color: var(--white);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 20px;
}

.services .content2 .con h4,
.photo .content3 .conP h4  {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
}

/*multimedia*/

.photo .content3 .boxP {
    position: relative;
    width: 420px;
    height: 420px;
    margin: 30px;
    background: var(--white);
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.photo .content3 .boxP .imgBoxP img {
    max-width: 390px;
    max-height: 390px;
}

.photo .content3 .boxP:nth-child(2) .conP {
    background: #2ba1ff;
}

.photo .content3 .conP .iconP img {
    max-width: 350px;
    max-height: 350px;
}

/*Blog index*/
.blog {max-width: 100%;}

.containerB {
    margin-left: 7%;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
}

.containerB .card {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
}

.containerB:hover .card {
    transform: rotateY(25deg);
}

.containerB .card:hover ~ .card{
    transform: rotateY(-25deg);
}

.containerB .card:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.containerB .card .imagBx {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    height: 100%;
    width: 100%;
}

.containerB .card .imagBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgb(130, 132, 255),#000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}

.containerB .card:hover .imagBx:before {
    opacity: 1;
}
.containerB .card .imagBx img {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.containerB .card .cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
}

.containerB .card .cont h2 {
    color: var(--white);
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
}

.containerB .card:hover .cont h2 {
    transform: translateY(0px);
    transition-delay: 0.6s;
}

.containerB .card .cont p {
    color: var(--white);
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
}

.containerB .card:hover .cont p {
    transform: translateY(0px);
    transition-delay: 0.7s;
}

.containerB .card .cont a {
    position: absolute;
    top: 200px;
    text-align: center;
    width: 100px;
    color: var(--white);
    border-radius: 10px;
    padding: 5px;
    background: var(--green);
    text-decoration: none;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(198px);
}

.containerB .card:hover .cont a {
    transform: translateY(0px);
    transition-delay: 0.8s;
}

.containerB .card .cont a:hover {
    background: var(--base);
}

/*blog-base*/
.author-archive {
    margin-left: 0px;
}
  
.contain {
    width: 1400px;
}

h1 {
    color: var(--base);
    text-align: center;
    margin-bottom: 2rem;
  }
  
  h1 a {
    transition: all 0.1s;
    color: var(--base);
  }
  
  h1 a:hover {
    background: var(--green);
    color: var(--white);
  }
  
  input[type="radio"] {
    position: absolute;
    left: -9999px;
  }

/* FILTERS */
.filters {
    color: var(--base);
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .filters * {
    display: inline;
  }
  
  .filters label {
    color: var(--base);
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 2rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.1s;
  }
  
  .filters label:hover {
    background: var(--green);
    color: var(--white);
  }
  
  
  /* FILTERED ELEMENTS (CARDS) */
.Cards {
      position: relative;
      width: 100%;
      left:1%;
      display: flex;
      /*justify-content: space-between;*/
      align-items: center;
      flex-wrap: wrap;
}
  
.Cards .cardB {
      position: relative;
      width: 650px;
      height: 250px;
      background: rgb(255, 236, 236);
      margin: 10px;
      padding: 15px;
      display: flex;
      box-shadow: 0px 10px 8px rgba(2, 0, 129, 0.09);
}

.Cards .cardB .post-categories {margin-bottom: 10px;}

.Cards .cardB .post-categories a {
    font-size: 11px;
    text-decoration: none;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid;
    line-height: normal;
    transition: all 0.1s;
  }
  
.Cards .cardB .post-categories a:hover {
    background: var(--green);
    color: var(--white);
}

.Cards .cardB .imgCard {
      max-width: 150px;
      flex: 0 0 150px;
}    
  
.Cards .cardB .imgCard img {
    max-width: 100%;
    height: 80%;
}     
   
.Cards .cardB .contenido {
    margin-left: 20px;
}

.Cards .cardB .contenido a{
    text-decoration: none;
}

.Cards .cardB .contenido a:hover{
    text-decoration: underline;
}

    
/* FILTERING RULES */
  [value="All"]:checked ~ .filters [for="All"],
  [value="SEGURIDAD"]:checked ~ .filters [for="SEGURIDAD"],
  [value="WEB"]:checked ~ .filters [for="WEB"],
  [value="MKT"]:checked ~ .filters [for="MKT"],
  [value="PUBLICIDAD"]:checked ~ .filters [for="PUBLICIDAD"],
  [value="PC"]:checked ~ .filters [for="PC"],
  [value="DISEÑO"]:checked ~ .filters [for="DISEÑO"] {
    background: var(--green);
    color: var(--white);
  }
  
  [value="All"]:checked ~ .Cards 
  .cardB:not([data-category]) {
    display: block;
  }
  
  [value="SEGURIDAD"]:checked ~ .Cards .cardB:not([data-category~="SEGURIDAD"]),
  [value="WEB"]:checked ~ .Cards .cardB:not([data-category~="WEB"]),
  [value="MKT"]:checked ~ .Cards .cardB:not([data-category~="MKT"]),
  [value="PUBLICIDAD"]:checked ~ .Cards .cardB:not([data-category~="PUBLICIDAD"]),
  [value="PC"]:checked ~ .Cards .cardB:not([data-category~="PC"]),
  [value="DISEÑO"]:checked ~ .Cards .cardB:not([data-category~="DISEÑO"]) {
    display: none;
  }


  /*Planes*/
.planes {background: var(--base);}  
.plan { 
    position: relative;
    width: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.plan .file {
    position: relative;
    max-width: 800px;
    height: 350px;
    background: var(--white);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.plan .file:hover {
    height: 450px;
} 

.plan .file .imBox {
    position: relative;
    width: 320px;
    height: 320px;
    top: -60px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.plan .file .imBox img {
    min-width: 100%;
    height: 100%;
    border-radius: 10px;
}

.plan .file .txto {
    text-align: center;
    width: 300px;
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.plan .file:hover .txto {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.plan .file:hover .txto h3 {
    font-weight: 300;
}

.plan .file:hover .txto h4 {
    font-weight: 400;
}

.plan .file:hover .txto p {font-size: 11px;} 

.plan .file .txto a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    display: block;
    width: 200px;
    margin: 5px 35px;
    padding: 10px 15px;
    background: #bbb;
    border-radius: 5px;
    color: #15142a;
}

.plan .file .txto a:hover {
    background: #15142a;
    color: #bbb;
    border: .5px solid #bbb;
}

/*not found*/
.nofound {padding: 40px;}
.nofound h2 {font-size: 150px; text-align: center;}
.nofound h3 {font-size: 100px; text-align: center;}
.nofound h5 {font-size: 30px; text-align: center;}
.nofound img {width: 500px; height: 250px; margin: 10px 350px;}

/*SERVICIOS*/
.banner {
    position: relative;
    min-height: 100vh;
    background: url(../img/website-development.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner2 {
    position: relative;
    min-height: 100vh;
    background: url(../img/work-731198_640.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner3 {
    position: relative;
    min-height: 100vh;
    background: url(../img/hands-of-graphic-designers-using-laptop-and-digital-tablet.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner4 {
    position: relative;
    min-height: 100vh;
    background: url(../img/computer-1209104_1280.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner5 {
    position: relative;
    min-height: 100vh;
    background: url(../img/social-media-1795578_1280.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner6 {
    position: relative;
    min-height: 100vh;
    background: url(../img/pexels-kaboompics-com-6224.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner7 {
    position: relative;
    min-height: 100vh;
    background: url(../img/pexels-negative-space-34639.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner8 {
    position: relative;
    min-height: 100vh;
    background: url(../img/pexels-george-morina-4911508.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .cover, .banner2 .cover,
.banner3 .cover, .banner4 .cover,
.banner5 .cover, .banner6 .cover,
.banner7 .cover, .banner8 .cover {
    position: absolute;
    bottom: 60px;
    left: 60px;
    right: 60px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    transition: 0.5s;
}

.banner h2, .banner2 h2,
.banner3 h2, .banner4 h2,
.banner5 h2, .banner6 h2,
.banner7 h2, .banner8 h2 {
    float: right;
    font-size: 6em;
    color: rgb(226, 222, 241);
    font-weight: 600;
    line-height: 1.5em;
    transition: 0.6s;
}

.servicio {
    width: 100%;
}

.servicio .descripcion {
    position: relative;
    min-height: 50vh;
}

.servicio .descripcion h3 {
    font-size: 20px;
    font-weight: 700;
}

.servicio .descripcion h4 {
    font-weight: 600;
    margin-top: 20px;
}

.servicio .descripcion p {padding: 10px 0;}

.servicio .descripcion i {
    font-size: 24px;
}

.servicio .descripcion ul {
    padding: 0 40px;
}

.servicio .descripcion .notas {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
}

.notas .txNota,
.notas .imNota  {
    margin-top: 15px;
    padding: 20px;
    width: 600px;
}

.notas .txNota h5{
    font-size: 18px;
    font-weight: 600;
}

.notas .imNota img
{
    width: 100%;
}
.gallery {
    background: var(--base);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70vh;
}

.gallery2 {
    background: var(--base);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50vh;
}

.gallery .caja,
.gallery2 .caja {
    position: relative;
    width: 300px;
    height: 300px;
    background: #f00;
    margin: 10px;
    overflow: hidden;
}

.gallery .caja .images,
.gallery2 .caja .images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.9);
}

.gallery .caja .images.active,
.gallery2 .caja .images.active  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.gallery .caja .images img,
.gallery2 .caja .images img  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery .caja .images.active img,
.gallery2 .caja .images.active img  {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
}

.gallery .caja .images h2,
.gallery2 .caja .images h2  {
    opacity: 0;
    visibility: hidden;
}

.gallery .caja .images.active h2,
.gallery2 .caja .images.active h2  {
    opacity: 1;
    visibility: visible;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
    letter-spacing: 4px;
} 

.gallery .caja .images .tex,
.gallery2 .caja .images .tex {
    position: absolute;
    bottom: 50px;
    right: 50px;
    left: 50px;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
    transform: translateY(100%);
}

.gallery .caja .images.active .tex,
.gallery2 .caja .images.active .tex {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.5s;
}

.gallery .caja .images .tex h3,
.gallery2 .caja .images .tex h3 {
    font-size: 24px;
    font-weight: 600;
}

.swiper {
    background: var(--base);
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.swiper h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background: #fff;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
}

.swiper-slide img {
    margin: 0 15px;
    width: 90%;
    height: 90%;
}

.photo {
    background: var(--base);
    min-height: 80vh;
}

.photo .content .box {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 30px;
    background: var(--white);
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.photo .content .box .imgBox img  {
    max-width: 450px;
    max-height: 420px;
}
/*FOOTER*/
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .contains {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .contains .sec {
    margin-right: 30px;
}

footer .contains .sec.aboutus {
    width: 40%;
}

footer .contains h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .contains h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p {
    color: #999;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li { list-style: none;}
.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover {background: #2ba1ff;}
.sci li a.fa {color: #fff; font-size: 20px;}

.quickLinks {
    position: relative;
    width: 25%;
}

.quickLinks ul li {list-style: none;}
.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quickLinks ul li a:hover {color: #fff;}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info {position: relative;}
.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span {color: #999;}
.contact .info li a {color: #999; text-decoration: none;}
.contact .info li a:hover {color: #fff;}

.copyright {
    background: #000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

/*Blog*/
.bann {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/blog/seguridadredes.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(180vh at 50% -80vh);
}

.bann2 {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/blog/pexels-photomix-company-230544.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(180vh at 50% -80vh);
}

.bann3 {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/blog/pexels-ray-piedra-1478442.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(180vh at 50% -80vh);
}

.bann4 {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/blog/pexels-stefan-vpn.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(180vh at 50% -80vh);
}

.bann .conte, .bann2 .conte,
.bann3 .conte, .bann4 .conte {
    max-width: 1000px;
    text-align: center;
}

.bann .conte h2, .bann2 .conte h2, 
.bann3 .conte h2, .bann4 .conte h2  {
    font-size: 5em;
    color: #fff;
    font-weight: 700;
}

.blogs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.blogs .bNotes {
    width: 900px;
}

.blogs .bNotes .articles h2{
    font-weight: 400;
}

.blogs .bNotes .articles h5{
    font-size: 14px;
    font-weight: 500;
}

.blogs .bNotes .articles p {
    margin-top: 20px;
}

article  ul { margin-left: 40px;}
article ul li {padding: 10px 0;}
article img {width: 30%; height: 30%;}
.blogs aside {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    justify-content: center;
    text-align: center;
    background: var(--white);
    box-shadow: 0px 30px 50px rgba(2, 0, 129, 0.09);
    border-radius: 20px;
    border: .5px solid rgba(0, 0, 0, 0.09);
}

.blogs aside h3 {
    padding: 10px 0;
    font-size: 16px; 
    font-weight: 500;
}

.blogs aside a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    padding: 10px 5px;
    border: .5px solid rgba(0, 0, 0, 0.09);
}

.blogs aside a:hover {
    color: var(--base);
    transition: 0.5s;
    background: rgba(223, 190, 190, 0.164);
} 

/*Responsive*/
@media (max-width: 991px){
    header,
      header.sticky {
      padding: 20px 50px;
      z-index: 1000;
    }
    
    .menu {
        position: fixed;
        top: 69px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
  
    .menu.active {left: 0;}

    .bannerIdea {padding: 150px 50px 100px;}
    .bannerIdea h2 { font-size: 2.5em;}
    .bannerIdea h2 span {font-size: 1.5em;}
    .bannerIdea h3 {font-size: 2em;}
    
    header ul li a {
        color: #111;
        font-size: 26px;
        font-weight: 400;
        margin: 15px;
    }
  
    .toggle {
        margin-left: 95%;
        width: 40px;
        height: 40px;
        background: url(../img/menu.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        cursor: pointer;
    }

    .toggle.active {
      background: url(../img/close.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 25px;
      cursor: pointer;
    }
    
    .bannerIdea {padding: 150px 20px 100px;}
    .bannerIdea:after {left: 50%; background-size: cover;}
    header.sticky .toggle {
        filter: invert(1);
    }
    
    /*sections content*/
    section {
        max-width: 100%;
        padding: 100px 50px;
    }

    
    .heading h2 {font-size: 22px;}
    .heading h3 {font-size: 20px;}

    .content {flex-direction: column;}
    .content h3 {font-size: 18px;}
    .w50 {margin-bottom: 20px;}
    .w50 img {
        margin-left: 25%;
        width: 50%;
    }
    
    /*Servicios*/
    
    .services .content2 {
        max-width: 100%;
        margin: 0  1%;
    }

    .banner .cover, .banner2 .cover, .banner3 .cover, .banner4 .cover, .banner5 .cover, .banner6 .cover, .banner7 .cover, .banner8 .cover {
        left: 50px;
        right: 50px;
    }

    .banner h2, .banner2 h2, .banner3 h2, .banner4 h2, .banner5 h2, .banner6 h2, .banner7 h2, .banner8 h2 {
        font-size: 2em;
    }

    /*Blog index*/
   

    .containerB:hover .card {
        transform: rotateX(25deg);
    }

    .containerB .card:hover ~ .card{
        transform: rotateX(-25deg);
    }

    .containerB .card:hover {
        transform: rotateX(0deg) scale(1.0);
    }

    /*Blog*/
    .contain {
        width: auto;
    }
   
    h1 a {font-size: 12px;}
               
    .container {
        width: 90%;
        flex-direction: column;
    }
    
    
    /* FILTERED ELEMENTS (CARDS) */
    .Cards {
        flex-direction: column;
        width: auto;
        left: -10%;
    }

    .Cards .cardB {
        max-width: 450px;
        height: 200px;
    }

    /*Notas*/
    .blogs aside {
        margin-top: 20px;
        width: 700px;
        height: 200px;
    }    
    
    /*Photo*/
    .photo .content .box {
        position: relative;
        width: 400px;
        height: 350px;
    }
    
    .photo .content .box .imgBox img {
        max-width: 350px;
        max-height: 320px;
    }
    
    .photo .content .con .icon img {
        max-width: 320px;
        max-height: 280px;
    }

    /*notas*/
    .notas .txNota, .notas .imNota {
        width: 350px;
    }

    .notas .txNota, .notas .imNota img{
        height: 300px;
    }
    /*error*/
    .nofound h2 { font-size: 130px;}  
    .nofound h3 { font-size: 80px; } 
    .nofound h5 { font-size: 24px; } 
    .nofound img { margin: 10px 120px; }  
}

@media (max-width: 600px){
    header,
    header.sticky {
      padding: 20px 20px;
    }

    .menu {top: 65px; padding: 50px;}
    .bannerIdea {padding: 150px 20px 100px;top: 10%;}
    section {padding: 200px 20px;}

    /*sections content*/
    section {
        max-width: 100%;
        padding: 100px 50px;
    }

    .containerS .slider .slide .caption h2 {
        font-size: 38px;
    }
    .heading h2 {font-size: 22px;}
    .heading h3 {font-size: 20px;}
    
    /*aboutus*/
    .content {flex-direction: column;}
    .content h3 {font-size: 18px;}
    .w50 {margin: auto;}
    .w50 img {
        margin-left: 0;
        width: 100%;
        height: 30vh;
    }
    /*Services*/
    .photo .content3 .boxP .imgBoxP img {
        max-width: 190px;
        max-height: 190px;
    }

    .notas .txNota {
        width: 100%;
        height: 400px;
        margin-bottom: 20px;
    }

    .notas .txNota, .notas .imNota img{
        width: 250px;
        height: 150px;
    }

    .servicio .descripcion p {
        font-size: 12px;
        padding: 10px 0;
    }
    /*Blog*/
    .contain {
        width: auto;
    }
   
    h1 a {font-size: 12px;}
               
    .container {
        width: 90%;
        flex-direction: column;
    }
    
    
    /* FILTERED ELEMENTS (CARDS) */

    .filters * {
        display: block;
    }
    
    .filters label {
        width: 50%;
        margin: auto;
    }

    .filters label:hover {
        background: var(--green);
        color: var(--white);
    }

    .Cards .cardB {
        max-width: 300px;
        height: 180px;
    }

    .Cards .cardB .imgCard {
        max-width: 100px;
    }

    .Cards .cardB .contenido h2 {font-size: 16px;}
    .Cards .cardB .contenido p {font-size: 12px;}

    li {margin:5px 0;}
    
    .post-categories h2 {font-size: 16px;}
    .post-categories p {font-size: 10px;}
    
    
    /*Notas*/
    .blogs aside {
        margin-top: 20px;
        width: 700px;
        height: 200px;
    }    
    
    .bann .conte h2, .bann2 .conte h2, .bann3 .conte h2, .bann4 .conte h2 {
        font-size: 4em;
    }
    
    /*Photo*/
    .photo .content .box {
        position: relative;
        width: 400px;
        height: 350px;
    }
    
    .photo .content .box .imgBox img {
        max-width: 350px;
        max-height: 320px;
    }
    
    .photo .content .con .icon img {
        max-width: 320px;
        max-height: 280px;
    }

    /*notas*/
    .notas .txNota, .notas .imNota {
        width: 350px;
    }

    .notas .txNota, .notas .imNota img{
        height: 300px;
    }
    /*error*/
    .nofound h2 { font-size: 100px;}  
    .nofound h3 { font-size: 60px; } 
    .nofound h5 { font-size: 16px; } 
    .nofound img { margin: 10px 1px; }

    /*pĺans*/
    .plan .file {
        max-width: 400px;
        height: 300px;
    }
    /*footer*/
    footer {padding: 50px;}
    footer .contains {
        flex-direction: column;
    }

    footer .contains .sec.aboutus {
        width: 100%;
    }

    .quickLinks {
        width: 100%;
    }

    .contact {
        width: 100%;
    }

    .copyright p {font-size: 14px;}

}   